version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysqlDB

    ports:
      - "3306:3306"

    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydb
      MYSQL_USER: admin
      MYSQL_PASSWORD: password

    volumes:
      - mysql_data:/var/lib/mysql

    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
